---
import Layout from '../layouts/Layout.astro';
import RecentPosts from '../components/RecentPosts.astro';
---

<Layout title="The blog.">
	<main>
		<h1 class="big-text">THE BLOG</h1>

		<RecentPosts />
	</main>
</Layout>

<style lang="scss">
	.big-text {
		margin: 50px auto 30px;
		text-align: center;
		font-size: 18.2vw;
		border-top: 1px solid #00000057;
		border-bottom: 1px solid #00000057;
	}
</style>
