---
import Post from "../components/Post.astro";

const posts = [
  {
    image: "https://images.unsplash.com/photo-1682687982183-c2937a74257c?q=80&w=3542&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
    author: "Olivia Rhye",
    date: "1 Jan 2023",
    title: "UX review presentations",
    description: "How do you create compelling presentations that wow your colleagues and impress your managers?"
  },
  {
    image: "https://images.unsplash.com/photo-1682687221038-404cb8830901?q=80&w=3387&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
    author: "Phoenix Baker",
    date: "1 Jan 2023",
    title: "Migrating to Linear 101",
    description: "Linear helps streamline software projects, sprints, tasks, and bug tracking. Here’s how to get..."
  },
  {
    image: "https://images.unsplash.com/photo-1682686578842-00ba49b0a71a?q=80&w=3475&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
    author: "Lana Steiner",
    date: "1 Jan 2023",
    title: "Building your API Stack",
    description: "The rise of RESTful APIs has been met by a rise in tools for creating, testing, and manag..."
  }
];
---

<div class="recent">
  <h2 class="recent__header">Recent blog posts</h2>

  <ul class="recent__posts">
    <Post post={posts[0]} />

    <div class="others">
      <Post post={posts[1]} style="row" />
      <Post post={posts[2]} style="row" />
    </div>
  </ul>
</div>

<style lang="scss">
  .recent {
    padding: 30px 0;

    &__header {
      font-size: 24px;
      font-weight: 600;
      line-height: 32px;
      color: var(--main-text);
    }

    &__posts {
        margin-top: 32px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px;

        @media screen and (max-width: 1200px) {
          grid-template-columns: 1fr;
        }

      .others {
        display: flex;
        flex-direction: column;
        gap: 32px;
      }
    }
  }
</style>
