---
import "../styles/global.scss";
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header class="header">
			<a href="/" class="header__logo">Kikiski blog</a>
			<nav class="header__navs">
				<a href="/blog" class="header__navs-nav">Posts</a>
			</nav>
		</header>
		<slot />
	</body>
</html>

<style lang="scss">
	.header {
		display: flex;
		align-items: center;
		justify-content: space-between;

		&__logo {
			font-size: 20px;
			font-weight: 600;
			line-height: 24px;
			color: var(--main-text);
		}

		&__navs {
			display: flex;
			align-items: center;
			gap: 15px;

			&-nav {
				font-size: 20px;
				font-weight: 400;
				line-height: 24px;
				color: var(--main-text);
			}
		}
	}
</style>
